body {
    
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right,#FFB88C, #DE6262) no-repeat center center fixed; */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) no-repeat center center fixed;
    height: 100vh;

}

@media only screen and (max-width: 600px) {
    body {
        
        /* flex-direction: column; */
        /* margin: 0 auto; */
    }
}